.domain-field {
  width: 100%;
}

.dns-card-title {
  margin-bottom: 0;
}

.table-title {
  margin-bottom: 0;
}

.dkim-content {
  word-break: break-all;
  padding-top: 15px;
  padding-bottom: 15px;
}

.success-icon {
  color: green;
}

.error-icon {
  color: red;
}