<h2 mat-dialog-title>{{ isModifyDialog ? 'Modify' : 'New' }} DKIM for {{ data.domain }}</h2>
<mat-dialog-content>
  <form [formGroup]="dkimForm" id="dkimForm" (ngSubmit)="updateDkim()" fxLayout="column" fxLayoutGap="10px">
    <ng-template #selectorLoader>
      <td-loading-mask width="100%" height="60px"></td-loading-mask>
    </ng-template>
    <ng-container *ngIf="!isModifyDialog || (isModifyDialog && dkimKeySubscription.closed); else selectorLoader">
      <mat-form-field appearance="fill">
        <mat-label>Selector</mat-label>
        <input matInput formControlName="selector" required />
        <mat-hint>{{ dkimForm.controls['selector'].value }}._domainkey.{{ data.domain }}</mat-hint>
        <mat-error *ngIf="dkimForm.controls['selector'].hasError('required')">
          Selector is required
        </mat-error>
      </mat-form-field>
    </ng-container>
    <mat-form-field appearance="fill" class="text-area">
      <mat-label>Private key</mat-label>
      <textarea matInput formControlName="privateKey"></textarea>
      <mat-hint>{{
        isModifyDialog ? 'Leave empty to keep the same key' : 'Leave empty to generate a new key'
      }}</mat-hint>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-spinner-button
          *ngIf="isModifyDialog"
          (btnClick)="disableDialog()"
          [options]="disableButtonConfig"
        ></mat-spinner-button>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
        <mat-spinner-button (btnClick)="dialogRef.close()" [options]="cancelButtonConfig"></mat-spinner-button>
        <div (click)="forceCheckForm()">
          <mat-spinner-button [options]="saveButtonConfig"></mat-spinner-button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
