<ng-template #loading>
  <mat-spinner diameter="50"></mat-spinner>
</ng-template>
<ng-container *ngIf="!isModifyDialog || (isModifyDialog && dkimKeySubscription.closed); else loading">
  <h2 mat-dialog-title>{{ isModifyDialog ? "Modify" : "New" }} DKIM for {{ data.domain }}</h2>
  <mat-dialog-content>
    <form [formGroup]="dkimForm" id="dkimForm" (ngSubmit)="updatedkim()" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field appearance="fill">
        <mat-label>Selector</mat-label>
        <input matInput formControlName="selector" required />
        <mat-hint>{{ dkimForm.controls["selector"].value }}._domainkey.{{ data.domain }}</mat-hint>
        <mat-error *ngIf="dkimForm.controls['selector'].hasError('required')">
          Selector is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="text-area">
        <mat-label>Private key</mat-label>
        <textarea matInput formControlName="privateKey" ></textarea>
        <mat-hint>{{ isModifyDialog ? "Leave empty to keep the same key" : "Leave empty to generate a new key" }}</mat-hint>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <mat-spinner-button (btnClick)="dialogRef.close()" [options]="cancelButtonConfig"></mat-spinner-button>
        <div (click)="forceCheckForm()">
          <mat-spinner-button [options]="saveButtonConfig"></mat-spinner-button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</ng-container>
