<h2 mat-dialog-title>{{ isModifyDialog ? "Modify" : "New" }} address</h2>
<mat-dialog-content>
  <form fxLayout="column">
    <div fxLayout="row" class="row-container" fxLayoutGap="10px">
      <mat-form-field appearance="fill" class="user-input">
        <mat-label>User</mat-label>
        <input matInput [disabled]="isModifyDialog ? 'disabled' : null" [value]="isModifyDialog ? addressName : null" />
      </mat-form-field>
      <div class="at-symbol" fxLayout="column" fxLayoutAlign="center">
        @
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Domain</mat-label>
        <mat-select [disabled]="isModifyDialog ? 'disabled' : null" [value]="domains[0]">
          <ng-container *ngFor="let domain of domains; let i = index">
            <mat-option [value]="domain">{{ domain }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [value]="isModifyDialog ? addressDetails.name : null" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="10px" class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>Spam Level</mat-label>
        <input matInput type="number" [value]="isModifyDialog ? addressDetails.spamLevel : 50" />
        <mat-hint>0-100</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quota</mat-label>
        <input matInput type="number" [value]="isModifyDialog ? addressDetails.quota.allowed : 0" />
        <span matSuffix>MB</span>
        <mat-hint>Currently using 500MB</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-button mat-dialog-close>CANCEL</button>
  <button mat-raised-button color="primary" (click)="updateAddress()">SAVE</button>
</mat-dialog-actions>
