<div class="single-column-content">
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <mat-card-title>{{profileService.username}}</mat-card-title>
      <mat-card-content>
        <p>
          You are logged in as {{profileService.username}}, you've got access to 10GB of storage.
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button (click)="logout()" mat-button color="warn">LOG OUT</button>
          <button (click)="logoutAllDialog()" mat-button color="warn">LOG OUT FROM ALL DEVICES</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Storage used</mat-card-title>
      <mat-card-content>
        <p>Currently using {{ usage.bytes / 10737418240 * 100 | number:'1.0-2' }}% of storage.</p>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-progress-bar fxFlexAlign="center" mode="determinate" value="{{ usage.bytes / 10737418240 * 100 | number:'1.0-2' }}"></mat-progress-bar>
          <p class="usage-text">{{ usage.formatted }}/10 GB</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Change username/password</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginDetailsForm" (ngSubmit)="changeLoginDetails()">
          <div fxLayout="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" />
              <mat-error *ngIf="loginDetailsForm.controls['username'].hasError('isAscii')">
                Username can only contain ASCII characters
              </mat-error>
              <mat-error *ngIf="loginDetailsForm.controls['username'].hasError('notContains')">
                Username can not contain spaces
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" />
              <mat-error *ngIf="loginDetailsForm.controls['password'].hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <div align="end">
            <mat-spinner-button type="submit" [options]="loginDetailsButtonConfig"></mat-spinner-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>