<!-- Switch to row or column mode depending on mobile or not -->
<div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxLayoutGap="10px">
  <mat-card fxFlex="30%" [fxFlexAlign]="(isHandset$ | async) ? null : 'start'">
    <mat-card-title>Your domains</mat-card-title>
    <mat-card-content>
      <p>
        These are the domains you have added to your account. You have access to any accounts and forwarders associated
        to these domains. Here you can add and delete domains, and manage the DKIM keys for them as well.
      </p>
      <p>
        Do note that when you delete a domain, the accounts will be deleted with it.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="70%">
    <ng-template #loading>
      <td-loading-mask width="100%" height="56px"> </td-loading-mask>
      <td-loading-mask width="100%" height="48px"> </td-loading-mask>
      <td-loading-mask width="100%" height="48px"> </td-loading-mask>
      <td-loading-mask width="100%" height="48px"> </td-loading-mask>
    </ng-template>
    <ng-container *ngIf="domainsService.domainsSubscription && domainsService.domainsSubscription.closed; else loading">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="domain">
          <mat-header-cell *matHeaderCellDef> Domain </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="domain">
            <mat-icon *ngIf="!row.admin">subdirectory_arrow_right</mat-icon> {{ row.domain }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="actions">
            <button
              [routerLink]="['/domains', row.domain, 'dkim', row.dkim ? 'edit' : 'new']"
              [matTooltip]="row.dkim ? 'Edit DKIM' : 'Add DKIM'"
              matTooltipPosition="left"
              matTooltipShowDelay="500"
              mat-icon-button
            >
              <mat-icon [class.grayed-out]="row.dkim">vpn_key</mat-icon>
              <mat-icon *ngIf="row.dkim" class="overlap-icon">{{ row.dkim ? 'edit' : 'close' }}</mat-icon>
            </button>
            <ng-container *ngIf="row.admin; else deleteAlias">
              <button
                (click)="removeDomainConfirmDialog(row.domain)"
                matTooltip="Remove this domain"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                mat-icon-button
              >
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
            <ng-template #deleteAlias>
              <button
                (click)="removeAliasConfirmDialog(row.aliasOf, row.domain)"
                matTooltip="Remove this alias"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                mat-icon-button
              >
                <mat-icon>link_off</mat-icon>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>
    </ng-container>
  </mat-card>
</div>
<router-outlet></router-outlet>

<ng-container
  *ngIf="
    domainsService.domainsSubscription && domainsService.domainsSubscription.closed && dataSource.data.length > 0;
    else addDomain
  "
>
  <eco-fab-speed-dial animationMode="scale">
    <eco-fab-speed-dial-trigger spin="true">
      <button mat-fab><mat-icon class="spin135">add</mat-icon></button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
      <button mat-mini-fab (click)="addDomainDialog()" matTooltip="Add domain" matTooltipPosition="left">
        <mat-icon>domain</mat-icon>
      </button>
      <button mat-mini-fab (click)="addAliasDialog()" matTooltip="Add alias" matTooltipPosition="left">
        <mat-icon>link</mat-icon>
      </button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
</ng-container>
<ng-template #addDomain>
  <app-fab-button icon="add" (click)="addDomainDialog()"></app-fab-button>
</ng-template>
