mat-sidenav {
  width: 275px;
  border: none;
}

mat-toolbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: box-shadow 0.4s;
}

.mat-drawer-container {
  background-color: #fff;
}

.mat-list-item, :host ::ng-deep .mat-list-item .mat-list-item-ripple {
  border-radius: 0 28px 28px 0;
}

.profile-link, :host ::ng-deep .profile-link .mat-list-item-ripple {
  border-radius: 0 35px 0 0;
}

.active-list-item, .active-list-item:hover, .active-list-item:focus {
  background-color: rgba(0, 0, 0, 0.089);
}

:host ::ng-deep .mat-drawer-backdrop {
  position: fixed;
}

.content {
  margin: auto;
  padding: 20px;
  max-width: 1200px;
}

.external-link {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: grey;
}

.nav-top-part {
  margin-bottom: 70px;
}

.profile-link.mat-list-item.mat-list-item-with-avatar {
  height: 70px;
  position: absolute;
  bottom: 0;
}