.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 275px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin: auto;
  padding: 20px;
  max-width: 1200px;
}

.external-link {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: grey;
}