<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- Create all navigation items -->
    <mat-nav-list>
      <ng-container *ngFor="let navCategory of navCategories; first as isFirst">
        <!-- Only add divider if not the first category in the list -->
        <mat-divider *ngIf="!isFirst"></mat-divider>
        <h3 mat-subheader>{{ navCategory.title }}</h3>

        <a mat-list-item *ngFor="let navItem of navCategory.items" [routerLink]="navItem.link">
          <mat-icon mat-list-icon>{{ navItem.icon }}</mat-icon>
          <h4 mat-line>{{ navItem.name }}</h4>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngStyle]="{'z-index': 100}">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
      <!-- This is where the router will add a component based on the url -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
