<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false && isFullscreen === false"
  >
    <!-- Create all navigation items -->
    <mat-nav-list>
      <div class="nav-top-part">
        <ng-container *ngFor="let navCategory of navCategories; first as isFirst">
          <!-- Only add divider if not the first category in the list -->
          <mat-divider *ngIf="!isFirst"></mat-divider>
          <h3 mat-subheader>{{ navCategory.title }}</h3>

          <ng-container *ngFor="let navItem of navCategory.items">
            <a
              mat-list-item
              *ngIf="navItem.routerLink; else href"
              (click)="closeDrawerConditional()"
              [routerLink]="navItem.routerLink"
            >
              <mat-icon mat-list-icon>{{ navItem.icon }}</mat-icon>
              <h4 mat-line>{{ navItem.name }}</h4>
            </a>
            <ng-template #href>
              <a mat-list-item (click)="closeDrawerConditional()" [href]="navItem.href" target="_blank">
                <mat-icon mat-list-icon>{{ navItem.icon }}</mat-icon>
                <h4 mat-line>{{ navItem.name }}</h4>
                <mat-icon class="external-link">launch</mat-icon>
              </a>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
      <a class="profile-link" mat-list-item (click)="closeDrawerConditional()" routerLink="/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>{{ profileService.user.username }}</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      *ngIf="isFullscreen === false"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      color="primary"
      [ngStyle]="{ 'z-index': 100 }"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <button
        *ngIf="showRefreshButton"
        (click)="refreshCurrentView()"
        matTooltip="Refresh"
        matTooltipPosition="below"
        matTooltipShowDelay="500"
        mat-icon-button
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
    <div [class.content]="isFullscreen === false">
      <router-outlet></router-outlet>
      <!-- This is where the router will add a component based on the url -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
