<h2 mat-dialog-title>{{ isModifyDialog ? 'Modify' : 'New' }} forwarder</h2>
<mat-dialog-content>
  <ng-template #loader>
    <div class="loader-container" fxLayout="column" fxLayoutGap="calc(10px + 1.34375em)">
      <td-loading-mask width="100%" height="59.5px"></td-loading-mask>
      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" class="row-container" fxLayoutGap="10px">
        <td-loading-mask width="100%" height="59.5px"></td-loading-mask>
        <div *ngIf="!(isHandset$ | async)" fxLayout="column" fxLayoutAlign="center">
          @
        </div>
        <td-loading-mask width="100%" height="59.5px"></td-loading-mask>
      </div>
      <td-loading-mask width="100%" height="73.3px"></td-loading-mask>
      <td-loading-mask width="100%" height="59.5px"></td-loading-mask>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <mat-spinner-button (btnClick)="dialogRef.close()" [options]="cancelButtonConfig"></mat-spinner-button>
        <td-loading-mask width="66px" height="36px"></td-loading-mask>
      </div>
    </div>
  </ng-template>
  <ng-container
    *ngIf="
      (!isModifyDialog && domainsService.domainsSubscription && domainsService.domainsSubscription.closed) ||
        (isModifyDialog &&
          domainsService.domainsSubscription &&
          domainsService.domainsSubscription.closed &&
          forwarderDetailsSubscription &&
          forwarderDetailsSubscription.closed);
      else loader
    "
  >
    <form
      [formGroup]="forwarderForm"
      id="forwarderForm"
      (ngSubmit)="updateForwarder()"
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" class="row-container" fxLayoutGap="10px">
        <mat-form-field appearance="fill" [class.user-input-right]="!(isHandset$ | async)">
          <mat-label>User</mat-label>
          <input matInput formControlName="addressUser" [required]="isModifyDialog ? null : 'required'" />
          <mat-error *ngIf="forwarderForm.controls['addressUser'].hasError('required')">
            User is required
          </mat-error>
          <mat-error *ngIf="forwarderForm.controls['addressUser'].hasError('AddressUsername')">
            Invalid email address format
          </mat-error>
        </mat-form-field>

        <div *ngIf="!(isHandset$ | async)" class="at-symbol" fxLayout="column" fxLayoutAlign="center">
          @
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Domain</mat-label>
          <span *ngIf="isHandset$ | async" matPrefix>@</span>
          <mat-select formControlName="domain" [required]="isModifyDialog ? null : 'required'">
            <ng-container *ngFor="let domain of domainsService.domainsStrings; let i = index">
              <mat-option [value]="domain">{{ domain }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="forwarderForm.controls['domain'].hasError('required')">
            Domain is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Forwarding targets</mat-label>
        <mat-chip-list #targetsChipList formControlName="newTarget">
          <mat-chip
            *ngFor="let forwardTarget of forwardTargets"
            selectable="false"
            removable="true"
            (removed)="removeTarget(forwardTarget)"
          >
            {{ forwardTarget }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            matInput
            formControlName="newTarget"
            [matChipInputFor]="targetsChipList"
            matChipInputAddOnBlur="true"
            [matChipInputSeparatorKeyCodes]="newTargetSeperators"
            (matChipInputTokenEnd)="addTarget($event)"
          />
        </mat-chip-list>
        <mat-error *ngIf="forwarderForm.controls['newTarget'].hasError('forwardingTarget')">
          Not an email address, smtp address, or http address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Forward limit</mat-label>
        <input matInput type="number" formControlName="forwardLimit" />
        <mat-hint *ngIf="isModifyDialog">Current usage: {{ forwarderDetails.limits.forward.used }}</mat-hint>
        <mat-error *ngIf="forwarderForm.controls['forwardLimit'].hasError('min')">
          Forward limit must be above 0
        </mat-error>
        <mat-error *ngIf="forwarderForm.controls['forwardLimit'].hasError('max')">
          Forward limit must be below {{ profileService.user.maxForward }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <mat-spinner-button (btnClick)="dialogRef.close()" [options]="cancelButtonConfig"></mat-spinner-button>
        <div (click)="forceCheckForm()">
          <mat-spinner-button [options]="saveButtonConfig"></mat-spinner-button>
        </div>
      </div>
    </form>
  </ng-container>
</mat-dialog-content>
