<div fxLayout="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-title>Your Email Accounts</mat-card-title>
    <mat-card-content
      >Cat ipsum dolor sit amet, spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce leave fur on
      owners clothes fooled again thinking the dog likes me yet swat at dog. Meow go back to sleep owner brings food and
      water tries to pet on head.</mat-card-content
    >
  </mat-card>
  <mat-card class="account-table-card">
    <ng-template #loading>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>

    <ng-container *ngIf="accountSubscription.closed; else loading">
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput type="search" (keyup)="applyFilter($event.target.value)" />
      </mat-form-field>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="name"> {{ row.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="address"> {{ row.address }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quotaUsedFormatted">
          <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Used </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="quotaUsedFormatted"> {{ row.quotaUsedFormatted }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quotaAllowedFormatted">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Quota </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="quotaAllowedFormatted">
            {{ row.quotaAllowedFormatted }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="actions">
            <button
              (click)="removeConfirm(row.domain)"
              matTooltip="Account filters"
              matTooltipPosition="left"
              matTooltipShowDelay="500"
              mat-icon-button
              aria-label="Account filters"
            >
              <mat-icon>filter_list</mat-icon>
            </button>
            <button
              (click)="accountDialog(row.id)"
              matTooltip="Modify account"
              matTooltipPosition="left"
              matTooltipShowDelay="500"
              mat-icon-button
              aria-label="Modify account"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="removeConfirm(row.domain)"
              matTooltip="Remove this account"
              matTooltipPosition="left"
              matTooltipShowDelay="500"
              mat-icon-button
              aria-label="Remove this account"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>
    </ng-container>
  </mat-card>
</div>
<app-fab-button (click)="accountDialog()" icon="add"></app-fab-button>
