/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
mat-spinner {
  margin: auto;
}
.error-snackbar {
  border-top: 4px solid #f44336;
}
.success-snackbar {
  border-top: 4px solid #8bc34a;
}
.single-column-content {
  max-width: 700px;
  margin: auto;
}

eco-fab-speed-dial {
  .eco-fab-speed-dial-container eco-fab-speed-dial-trigger.eco-spin .spin135 {
    transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.eco-opened {
    .eco-fab-speed-dial-container eco-fab-speed-dial-trigger.eco-spin .spin135 {
      transform: rotate(135deg);
    }
  }
}
