<h2 mat-dialog-title>{{ isModifyDialog ? 'Modify' : 'New' }} email account</h2>
<mat-dialog-content>
  <ng-template #loader>
    <div class="loader-container" fxLayout="column" fxLayoutGap="calc(10px + 1.34375em)">
      <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" class="row-container" fxLayoutGap="10px">
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
        <div *ngIf="!(isHandset$ | async)" fxLayout="column" fxLayoutAlign="center">
          @
        </div>
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
      </div>
      <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxLayoutGap="10px" class="row-container">
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
      </div>
      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxLayoutGap="10px" class="row-container">
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
        <td-loading-mask class="loading-field" width="100%" height="59.5px"></td-loading-mask>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <mat-spinner-button (btnClick)="dialogRef.close()" [options]="cancelButtonConfig"></mat-spinner-button>
        <td-loading-mask width="66px" height="36px"></td-loading-mask>
      </div>
    </div>
  </ng-template>
  <ng-container
    *ngIf="
      (!isModifyDialog && domainsService.domainsSubscription && domainsService.domainsSubscription.closed) ||
        (accountDetailsSubscription && accountDetailsSubscription.closed);
      else loader
    "
  >
    <!-- <ng-container *ngIf="false; else loader"> -->
    <form [formGroup]="accountForm" id="accountForm" (ngSubmit)="updateAccount()" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" class="row-container" fxLayoutGap="10px">
        <mat-form-field appearance="fill" [class.user-input-right]="!(isHandset$ | async)">
          <mat-label>User</mat-label>
          <input matInput formControlName="addressUser" [required]="isModifyDialog ? null : 'required'" />
          <mat-error *ngIf="accountForm.controls['addressUser'].hasError('required')">
            User is required
          </mat-error>
          <mat-error *ngIf="accountForm.controls['addressUser'].hasError('AddressUsername')">
            Invalid email address format
          </mat-error>
        </mat-form-field>

        <div *ngIf="!(isHandset$ | async)" class="at-symbol" fxLayout="column" fxLayoutAlign="center">
          @
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Domain</mat-label>
          <span *ngIf="isHandset$ | async" matPrefix>@</span>
          <mat-select formControlName="domain" [required]="isModifyDialog ? null : 'required'">
            <ng-container *ngFor="let domain of domainsService.domainsStrings; let i = index">
              <mat-option [value]="domain">{{ domain }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="accountForm.controls['domain'].hasError('required')">
            Domain is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" [required]="isModifyDialog ? null : 'required'" />
        <mat-error *ngIf="accountForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="accountForm.controls['password'].hasError('minlength')">
          Password must be at least 8 characters
        </mat-error>
      </mat-form-field>

      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxLayoutGap="10px" class="row-container">
        <mat-form-field appearance="fill">
          <mat-label>Spam treshold</mat-label>
          <input matInput type="number" formControlName="spamLevel" />
          <mat-hint>0-100</mat-hint>
          <mat-error
            *ngIf="
              accountForm.controls['spamLevel'].hasError('min') || accountForm.controls['spamLevel'].hasError('max')
            "
          >
            Treshold must be between 0-100
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Quota</mat-label>
          <input matInput type="number" formControlName="quota" />
          <span matSuffix>MiB</span>
          <mat-hint *ngIf="isModifyDialog"
            >Current usage: {{ math.round(accountDetails.limits.quota.used / math.pow(1024, 2)) }}MiB</mat-hint
          >
          <mat-error *ngIf="accountForm.controls['quota'].hasError('min')">
            Quota must be above 0
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Disabled services</mat-label>
          <mat-select multiple formControlName="disabledScopes">
            <mat-option value="smtp">SMTP</mat-option>
            <mat-option value="imap">IMAP</mat-option>
            <mat-option value="pop3">POP3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxLayoutGap="10px" class="row-container">
        <mat-form-field appearance="fill">
          <mat-label>Send limit</mat-label>
          <input matInput type="number" formControlName="sendLimit" />
          <mat-hint *ngIf="isModifyDialog">Current usage: {{ accountDetails.limits.send.used }}</mat-hint>
          <mat-error *ngIf="accountForm.controls['sendLimit'].hasError('min')">
            Send limit must be above 0
          </mat-error>
          <mat-error *ngIf="accountForm.controls['sendLimit'].hasError('max')">
            Send limit must be below {{ profileService.user.maxSend }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Receive limit</mat-label>
          <input matInput type="number" formControlName="receiveLimit" />
          <mat-hint *ngIf="isModifyDialog">Current usage: {{ accountDetails.limits.receive.used }}</mat-hint>
          <mat-error *ngIf="accountForm.controls['receiveLimit'].hasError('min')">
            Receive limit must be above 0
          </mat-error>
          <mat-error *ngIf="accountForm.controls['receiveLimit'].hasError('max')">
            Receive limit must be below {{ profileService.user.maxReceive }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Forward limit</mat-label>
          <input matInput type="number" formControlName="forwardLimit" />
          <mat-hint *ngIf="isModifyDialog">Current usage: {{ accountDetails.limits.forward.used }}</mat-hint>
          <mat-error *ngIf="accountForm.controls['forwardLimit'].hasError('min')">
            Forward limit must be above 0
          </mat-error>
          <mat-error *ngIf="accountForm.controls['forwardLimit'].hasError('max')">
            Forward limit must be below {{ profileService.user.maxForward }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <mat-spinner-button (btnClick)="dialogRef.close()" [options]="cancelButtonConfig"></mat-spinner-button>
        <div (click)="forceCheckForm()">
          <mat-spinner-button [options]="saveButtonConfig"></mat-spinner-button>
        </div>
      </div>
    </form>
  </ng-container>
</mat-dialog-content>
