.row-container > mat-form-field {
  min-width: 0;
  width: 100%;
}

.user-input-right {
  text-align: right;
}

.at-symbol {
  padding-bottom: 1.34375em;
}

.loader-container {
  width: 80vw;
  margin: 0 -24px;
  padding: 0 24px;
  box-sizing: border-box;
  max-width: 707.81px; // Width of the entire form. Sorry for the magic number, I couldn't figure out how to get to this value otherwise
}